<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="relative h-screen flex flex-col items-center justify-center">
      <div class="p-8 md:p-16 shadow-2xl flex flex-col items-center justify-center">
        <div class="text-4xl md:text-6xl lg:text-8xl mb-2 md:mb-8 font-bold" >URL Shortener</div>
        <div class="w-full">
          <%= yield %>
        </div>
      </div>
      <div class="absolute right-0 bottom-4 w-full flex justify-center">
        <span class="text-md font-thin italic">
          Made with with love by <a class="font-bold" href="https://twitter.com/pmareke">@pmareke</a>
        </span>
      </div>
    </div>
  </body>
</html>
